
	 <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	 
	 <!.. jQuery CSS ..>
	 
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 
	 <!.. font-awesome ..>
	 
	 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>
	 html,body{
		 /* the html and body area cannot have any margin or padding. */
	 }
	 
	 /* wrapper for page content to pushdown the footer */
	 
	 #wrap{
		 min-height: 100%;
		 height:auto;
		 /* navigate intended footer by its height */
		 margin: 0 0 60px;
		 padding: 0 0 60px;
	 }
	 
	 /* set the fixed heith for the footer here */
	 #footer {
		 height:60px;
		 background-color: #f5f5f5;
		 text-align: center;
	 }
	 
	 #btn-debug {
	 	position: absolute;
	 }
	 
	 #console-debug {

	 	overflow-y: scroll;
	 	background-color: #006644;
	 }
	 
	 #console-debug pre{
	 	
	 	
	 }
	 body{
    margin:0;
    padding:0;
    font-family:arial;
}
 .header{
 	position: fixed;
 	top: 0;
 	left: 0;
 	padding: 0 100px;
 	background: 
 	width: 100%;
 	box-sizing: border-box;
 	border-bottom: 4px solid #4C9CF1;
	z-index: 100;
 }
 .header>.logo{
  	border-radius: 50%;
 }
.container{
    padding-top:50px;
    width:1024px;
    margin:0 auto;
    /*text-transform:uppercase;*/
}
.top-nav{
    background-color:white;
    float:right;
}
.top-nav > .menu{
    padding:10px;
    margin:10px;
    display: flex;
    list-style-type:none;
    text-align:center;
    position:relative;
   
}
.top-nav > .menu > li{
    display:inline-block;

}
.top-nav > .menu > li:hover a{
    color:#5cb85c;
} 
.top-nav > .menu > li:hover .dropdown{
    display:block;
}
.top-nav > .menu > li > a{
	height:50px;
	line-height:30px;
    display:block;
    color:#31708f;
    text-decoration:none;
    border: 1px solid #ececec;
  padding: 9px 15px;
  border-radius: 5px;
}
.top-nav > .menu > li > a:hover{
 	
}
/*.info{
    text-align:center;
    border:solid 1px cornsilk;
    background-color:rosybrown;
}
.info > h1{
    color:wheat;
}*/
.top-nav .dropdown {
    padding:0;
    margin:0;
    position:absolute;
    background-color:	black !important;
   line-height:20px;
    text-align:center;
    height:auto;
    width:150px;
    display:none;

}
.top-nav .dropdown li{
    display:block;
    
}
.top-nav .dropdown li a{
    display:block;
    padding:5px;
    color:#DCDCDC !important;
    text-decoration:none;
      padding: 9px 15px;
  border-radius: 5px;
   border: 1px solid #ececec;
}
.top-nav .dropdown a:hover {
    background-color:#4169E1 !important;
}
/*.menu-toggle{
	color: #FFFF00;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
	
}*/
.menu-toggle {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC center;

}
a:hover.menu-toggle {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

@media only screen and (max-width : 640px) {
	header{
		position: absolute;
	}
	.menu-toggle{
		display:inline-block;
	}
	.top-nav ul, .top-nav:active ul { 
		
		position:absolute;
		width: 100%;
		height: 100%;
		background: #333;
		top:50px;
		left: 0;
		transition: 0.5s;
	}
		.top-nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	.top-nav:hover ul {

		display: block;

	}
}
.container {
	text-align:center;
 
}

/*responsive story box*/
</style>


	 
